## Importing libraries

In [2]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

## Web scraping BMW

In [3]:
name = []
mileage = []
rating = []
reviews_count = []
dealer_name = []
price = []

for i in range(1,61):
    
    # storing the website in a variable
    url = "https://www.cars.com/shopping/results/?stock_type=all&makes%5B%5D=bmw&models%5B%5D=&list_price_max=&maximum_distance=all&zip="

    # http requests
    response = requests.get(url)
    
    # soup object
    soup = BeautifulSoup(response.content, 'html.parser')
    
    # results
    results = soup.find_all('div', {'class': 'vehicle-card'})
    
    # loop through results
    for result in results:
        
        # name
        try:
            name.append(result.find('h2', {'class': 'title'}).get_text())
        except:
            name.append('n/a')
            
        # mileage
        try:
            mileage.append(result.find('div', {'class':'mileage'}).get_text())
        except:
            mileage.append('n/a')
            
        # rating
        try:
            rating.append(result.find('span', {'class':'sds-rating__count'}).get_text())
        except:
            rating.append('n/a')
            
       # review_count
        try:
            reviews_count.append(result.find('span', {'class':'sds-rating__link'}).get_text())
        except:
            reviews_count.append('n/a') 
            
        # dealer_name
        try:
            dealer_name.append(result.find('div', {'class':'dealer-name'}).get_text().strip())
        except:
            dealer_name.append('n/a')
            
        #price 
        try:
            price.append(result.find('span', {'class':'primary-price'}).get_text())
        except:
            price.append('n/a')

## Creating the BMW Dataframe

In [5]:
df_bmw = df = pd.DataFrame({'Name': name, 'Mileage': mileage, 'Rating': rating, 'Reviews Count': reviews_count, 'Dealer Name': dealer_name,
                  'Price': price})

df_bmw

                                  Name  ...    Price
0              2021 BMW M3 Competition  ...  $88,990
1               2016 BMW X1 xDrive 28i  ...  $23,776
2                2018 BMW X3 xDrive30i  ...  $37,900
3     2018 BMW 430 Gran Coupe i xDrive  ...  $30,900
4                2019 BMW X5 xDrive40i  ...  $66,996
...                                ...  ...      ...
1195             2021 BMW X3 sDrive30i  ...  $43,777
1196             2019 BMW 750 i xDrive  ...  $63,998
1197                    2012 BMW 650 i  ...  $26,989
1198                  2019 BMW M4 Base  ...  $61,990
1199                    2019 BMW 530 i  ...  $36,500

[1200 rows x 6 columns]

## Saving the dataframe in a csv file

In [6]:
df_bmw.to_csv('bmw.csv')