## Importing libraries

In [2]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

## Web Scraping Audi

In [3]:
name = []
mileage = []
rating = []
reviews_count = []
dealer_name = []
price = []

for i in range(1,61):
    
    # storing the website in a variable
    url = "https://www.cars.com/shopping/results/?stock_type=all&makes%5B%5D=audi&models%5B%5D=&list_price_max=&maximum_distance=all&zip="

    # http requests
    response = requests.get(url)
    
    # soup object
    soup = BeautifulSoup(response.content, 'html.parser')
    
    # results
    results = soup.find_all('div', {'class': 'vehicle-card'})
    
    # loop through results
    for result in results:
        
        # name
        try:
            name.append(result.find('h2', {'class': 'title'}).get_text())
        except:
            name.append('n/a')
            
        # mileage
        try:
            mileage.append(result.find('div', {'class':'mileage'}).get_text())
        except:
            mileage.append('n/a')
            
        # rating
        try:
            rating.append(result.find('span', {'class':'sds-rating__count'}).get_text())
        except:
            rating.append('n/a')
            
       # review_count
        try:
            reviews_count.append(result.find('span', {'class':'sds-rating__link'}).get_text())
        except:
            reviews_count.append('n/a') 
            
        # dealer_name
        try:
            dealer_name.append(result.find('div', {'class':'dealer-name'}).get_text().strip())
        except:
            dealer_name.append('n/a')
            
        #price 
        try:
            price.append(result.find('span', {'class':'primary-price'}).get_text())
        except:
            price.append('n/a')

## Creating the Audi Dataframe

In [4]:
df_audi = df = pd.DataFrame({'Name': name, 'Mileage': mileage, 'Rating': rating, 'Reviews Count': reviews_count, 'Dealer Name': dealer_name,
                  'Price': price})

df_audi

                                 Name  ...     Price
0      2015 Audi A6 2.0T Premium Plus  ...   $24,990
1      2018 Audi Q7 3.0T Premium Plus  ...   $43,990
2            2021 Audi e-tron Premium  ...   $67,998
3      2016 Audi A6 3.0T Premium Plus  ...   $28,699
4        2021 Audi RS Q8 4.0T quattro  ...  $149,943
...                               ...  ...       ...
1135        2019 Audi Q8 3.0T Premium  ...   $75,929
1136              2018 Audi RS 3 2.5T  ...   $65,977
1137  2011 Audi R8 5.2 quattro Spyder  ...   $92,987
1138   2018 Audi Q5 2.0T Tech Premium  ...   $39,676
1139          2021 Audi Q8 55 Premium  ...   $84,991

[1140 rows x 6 columns]

## Saving the dataframe in a csv file

In [5]:
df_audi.to_csv('audi.csv')